{% extends 'base_dashboard.html' %}
{% block content %}
<div class="container mt-4">
  <h4>Events Participated – {{ college.name }}</h4>

  {% if teams %}
    <ul class="list-group mt-3">
      {% for team in teams %}
        <li class="list-group-item">
          {{ team.event.sport.name }} ({{ team.event.gender }})
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>This college is not participating in any events.</p>
  {% endif %}

  <a href="{% url 'organizer_teams' %}" class="btn btn-secondary mt-3">Back to Teams</a>
</div>
{% endblock %}
