{% extends 'participants/base.html' %}

{% block content %}
<section class="wrapper style1">
  <div class="inner">
    <header class="major">
      <h2>Events Participated – {{ college.name }}</h2>
    </header>

    {% if teams %}
      <ul class="alt">
        {% for team in teams %}
          <li>{{ team.event.sport.name }} ({{ team.event.gender }})</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>This college is not participating in any events.</p>
    {% endif %}

    <ul class="actions">
      <li><a href="{% url 'organizer_teams' %}" class="button">Back to Teams</a></li>
    </ul>
  </div>
</section>
{% endblock %}
