{% extends 'participants/base.html' %}
{% block title %}Join Event{% endblock %}

{% block content %}
<section class="wrapper">
  <div class="inner">
    <header class="major">
      <h2>Available Events</h2>
    </header>

    {% if messages %}
      {% for message in messages %}
        <p class="text">{{ message }}</p>
      {% endfor %}
    {% endif %}

    {% if available_events %}
    <form method="POST">
      {% csrf_token %}
      <div class="fields">
        {% for event in available_events %}
        <div class="field">
          <strong>{{ event.sport.name }} - {{ event.gender }}</strong>
          (Max Team Size: {{ event.max_team_size }})
          <button name="event_id" value="{{ event.id }}" class="button small">Join</button>
        </div>
        {% endfor %}
      </div>
    </form>
    {% else %}
      <p>No eligible events available at the moment.</p>
    {% endif %}
  </div>
</section>
{% endblock %}
